/* CSS Document */
body{
	overflow-x:hidden;
}
.tree{
	float:left;
	margin:20px 0;
	width:100%;
	text-align:center;
}
.head{
	float:left;
	width:100%;
	margin:0 0 0 0;
}
.one-half{ width:50%}
.one-third{ width:33.3333%}
.box-border-left{-webkit-box-sizing:border-box; border-left:1px solid #444; }
.box-border-right{-webkit-box-sizing:border-box; border-right:1px solid #444;}
.box-border-top{-webkit-box-sizing:border-box; border-top:1px solid #444}
.box-border-bottom{-webkit-box-sizing:border-box; border-bottom:1px solid #444}
.height20{ height:20px}
.NoMargin{ margin: 0 auto}
.width90{ width:900px}
.bg-grey{ background:#fff; padding-top: 15px;border-radius: 5px;}
.width100{ width:100%}
.one-fourth{ width:25%; float:left}
.box{
	border:1px solid #333;
	padding:10px;
	display:inline-block;
	position:relative;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.width-150{
	width:150px;
}
.height-50{
	min-height:50px;
}
.no-padding{
	padding:0px;
}
.no-border_right{
	border-right:0px !important;
}
.txt_one{
	border-right:1px solid #000;
	padding-right:5px;
}
.width-50{
	width:50px;
}
.width-60{
	width:60px;
}
.width-70{
	width:70px;
}
.width-100{
	width:100px;
}
.dash{
	position:relative;
	display:inline-block;
	margin:0 -5px;
}

.width-450{
	width:450px;
}

.tree_body{
	float:left;
	width:100%;
	margin:0 0 0 0;
}

.series{
	 float:left;
	 width:100%;
	 margin:5px 0 0 0;
	 border-top:1px solid #777;
	 padding:5px 0;
	 border-bottom:1px solid #777;
}
.padding-3{
	padding:3px 7px !important;
}

.u_box{
	float:left;
	width:100%;
	border:1px solid #000;
	list-style-type:none;
	padding-left:0px;
	margin-top:10px;
}
.u_box li{
	float:left;
	margin:0 8px 0 0;
}
.u_box li a{
	color:#333;
	border-right:1px solid #000;
	padding:3px 5px;
}
.u_box li a.last{
	border-right:0px;
	padding-right:0px;
}
.sp{
	margin-top:10px;
}

.advanced{
	display:none;
}
.sm, .ad{
	margin-top:10px;
}

.box_conty{
	float:left;
	width:100%;
	margin:0 0 0 0;
}
.box_conty .all_box{
	float:left;
	width:100%;
	margin:0 0 0 0;
	padding-left:0px;
	list-style-type:none;
}
.all_box li{
	text-align:center;
	float:left;
}
.all_box li .bx{
	float:left;
	margin:0 0 5px 0;
	border:1px solid #000;
	padding:8px;
	width:100%;
}

.height-70{
	min-height:70px;
}
.width-90{
	width:90px;
}
.width-60{
	width:60px;
}
.marginT-25{
	margin-top:25px;
}
.mrgT15{
	margin-top:15px;
}
.mrgB15{
	margin-bottom:15px;
}

.radius-5{
	border-radius:5px;
}
.advanced .tree_body{
	border-bottom:2px dotted #333;
	padding-bottom:15px;
	margin-bottom:15px;
}