

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width:100% !important;
  padding: 0;
  margin: 0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



	
.rslides_tabs {
  list-style: none;
  padding: 0;
  
  font-size: 18px;
  list-style: none;
 
  margin: 0 auto 30px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  
  bottom:0;
  position:absolute;
  z-index:999999;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin:0 2px;
  }

.rslides_tabs a {
	color:#CCC;
	font-size:0;
	
  width: 16px;
  padding:0;
  height:16px;
  
  border-radius:50%;
  border:2px solid #999;

  background: #333;
  display: inline-block;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background:#666;
  }
